<% if user_signed_in? %>
  <%= render "layouts/navbar" %>
  <div class = "category-container">
    <section class = "snapshot-today">
      <header>
        <div class = "date-today">
          <div class = "day-number">
            <h3><%= DateTime.now.strftime("%d") %></h3>
          </div>
          <div class = "day-details">
            <div id = "day-name">
              <%= DateTime.now.strftime("%A") %>
            </div>
            <div id = "month-year">
              <%= DateTime.now.strftime("%B") %> <%= DateTime.now.strftime("%C%y") %>
            </div>
          </div>
        </div>
        <div class = "daily-quote">
          <h4>“Just one small positive thought in the morning can change your whole day.”</h4>
          <h4>— Dalai Lama</h4>
        </div>
      </header>
      <main>
        <div class = "tasks-today">
          <%= render @categories %>
        </div>
        <div class = "create-new-task">
          EXISTING TASK DROPDOWN
          <br>
          - task details
          <br>
          DATEPICKER
        </div>
      </main>
    </section>
    <section class = "categories-list">
      <%= render "categories_list" %>
    </section>
    <section class = "three-random-categories">
      <%= render "random" %>
    </section>
    <div class = "color-box">
      <div class = "color-1"></div>
      <div class = "color-2"></div>
      <div class = "color-3"></div>
    </div>
  </div>
<% else %>
  <%= render "layouts/home" %>
<% end %>


