<%= render "layouts/navbar" %>
<div class = "show-category-container">
  <div class = "show-tasks">
    <% @category.tasks.each do |task| %>
      <div class = "tasks-list">
        <h4><%= task.details %></h4>
        <%= task.completion %>
        <h4><%= link_to "Edit this task", edit_category_task_url(@category.id, task.id) %></h4>
        <h4><%= button_to "Delete this task", @task, method: :delete %></h4>
      </div>
    <% end %>
    <h4><%= link_to "+", new_category_task_url(@category) %></h4>
  </div>
  <div class = "show-category">
    <h1><%= @category.name %></h1>
    <p><%= @category.details %></p>
    <h4><%= link_to "Edit this category", edit_category_url(@category) %></h4>
  </div>
</div>


